.Wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.Main-Container {
  display: grid;
  row-gap: 20px;
  width: 50vw;
}

.Heading {
  font-size: 2rem;
  font-weight: bold;
}
